.fixed-video{
    position: fixed;
    left: 2.7%;
    bottom: 9%;
    height: 25%;
    width: 22%;
    background-color: black;
}

.fixed-ion{
    position: fixed;
    top: 20%;
    right: 5%;
    height: 100px;
    width: 60px;
    background-color: rgba(219, 3, 3, 0.911);
    clip-path: polygon(0 58%, 31% 56%, 31% 0, 69% 0, 69% 56%, 100% 56%, 50% 100%);
}
