.focus_section{
    width: 100%;
    margin-top: 12rem;
    margin-bottom: 3rem;
}

.focus_1st{
    /* width: 60%; */
    padding: 40px;
    margin: auto;
}

.focus-imgmages{
    position: relative;
    height: 400px;
    margin-bottom: 2rem;
}


.focus-imgmages img{
    position: absolute;
    width: 47.3%;
    height: 46.2%;
}

.focus-img_2{
    top: 2rem;
    left: 0;
    
}

.focus-img_3{
    top: 2rem;
    right: 2rem;
}

.focus-img_5{
    left: 0;
    bottom: 0;
} 

.focus-img_6{
    right: 2rem;
    bottom: 0;
} 

.focus-imgmages{
    position: relative;
} 

.focus_video{
    position: absolute;
    width: 90%;
    height: 55%;
    width: 80%;
    top: 8%;
    left: 8%;
    border-radius: 10px;
}

/* .focus-img_1{
    position: absolute;
    width: 45%;
    height: 92px;
    left: 0;
    top: 2%;
    background: url(.jpg);
    
} 

  */

