footer{
    background-color: rgb(12, 12, 12,.9);
    padding: 3rem  0rem 0rem 0rem;
    color: white;
}

.footer-tilel{
    font-family: Roboto;
    font-style: italic;
    font-weight: 600;
    font-size: 40px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 1.5rem;
}

footer ul{
    list-style: none;
    font-size: 24px;
    margin-bottom: .6rem;
}

footer ul a{
    color: white;
}

.social-img{
    width: 49px;
    height: 32px;
    border-radius: 10px;
}

.social{
    text-align: center;
}

.footer-logo{
    height: 300px;
    width: 90%;
}

.last-footer{
    padding: 1rem 0;
    height: 110px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
}