.heris_size{
    height: 100vh;
    width: 100%;
}

.bag-transparent{
    /* background-color: transparent; */
    border: none;
    height: 80px;
    top: 40%;
    width: 80px;
    border-radius: 50%;
    margin: 10px;
    background-color: black;
}

/* .indicators-round{
    height: 35px;
    width: 35px;
    border: 5px solid rgb(34, 66, 12);
    border-radius: 50%;
    background-color: black;
    margin-right: 10px;
} */

.heros_images{
    height: 85vh;
    filter: blur(4px);
}

.heris_size{
    height: 90vh;
    position: relative;
}

.black-bg{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 90vh;
    position: absolute;
    background-color: rgb(59, 58, 58,0.7);
}

.heros-text{
    text-align: center;
    color: rgb(243, 240, 240);
    text-align: center;
    height: 50vh;
    margin: auto;
}

.heros-text h1{
    margin-bottom: .5rem;
}

.heros-btn{
    padding: .8rem 3.5rem;
    border-radius: 50px;
    font-size: 28px;
    font-weight: 700;
}

.heros-btn a{
    color: white;
}


